body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 34.0218712029%;
  left: 50.8308895406%;
  font-size: 23px;
  filter: blur(0.02px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(2) {
  top: 19.656019656%;
  left: 77.909270217%;
  font-size: 14px;
  filter: blur(0.04px);
  animation: 33s float infinite;
}
.particle:nth-child(3) {
  top: 72.3716381418%;
  left: 88.4086444008%;
  font-size: 18px;
  filter: blur(0.06px);
  animation: 22s floatReverse2 infinite;
}
.particle:nth-child(4) {
  top: 58.9371980676%;
  left: 43.7743190661%;
  font-size: 28px;
  filter: blur(0.08px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 26.9879518072%;
  left: 33.9805825243%;
  font-size: 30px;
  filter: blur(0.1px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(6) {
  top: 58.9680589681%;
  left: 94.674556213%;
  font-size: 14px;
  filter: blur(0.12px);
  animation: 31s float2 infinite;
}
.particle:nth-child(7) {
  top: 46.5454545455%;
  left: 17.5609756098%;
  font-size: 25px;
  filter: blur(0.14px);
  animation: 38s float infinite;
}
.particle:nth-child(8) {
  top: 0.9864364982%;
  left: 74.1839762611%;
  font-size: 11px;
  filter: blur(0.16px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(9) {
  top: 53.4629404617%;
  left: 16.6177908113%;
  font-size: 23px;
  filter: blur(0.18px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(10) {
  top: 57.3511543135%;
  left: 92.8641251222%;
  font-size: 23px;
  filter: blur(0.2px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(11) {
  top: 42.7184466019%;
  left: 34.1796875%;
  font-size: 24px;
  filter: blur(0.22px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(12) {
  top: 90.1960784314%;
  left: 10.8267716535%;
  font-size: 16px;
  filter: blur(0.24px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(13) {
  top: 50.5467800729%;
  left: 74.2913000978%;
  font-size: 23px;
  filter: blur(0.26px);
  animation: 34s float infinite;
}
.particle:nth-child(14) {
  top: 8.7272727273%;
  left: 89.756097561%;
  font-size: 25px;
  filter: blur(0.28px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(15) {
  top: 97.1779141104%;
  left: 87.684729064%;
  font-size: 15px;
  filter: blur(0.3px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(16) {
  top: 80.6804374241%;
  left: 14.6627565982%;
  font-size: 23px;
  filter: blur(0.32px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(17) {
  top: 23.6744759556%;
  left: 69.2383778437%;
  font-size: 11px;
  filter: blur(0.34px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(18) {
  top: 94.9152542373%;
  left: 25.3411306043%;
  font-size: 26px;
  filter: blur(0.36px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(19) {
  top: 20.2409638554%;
  left: 95.145631068%;
  font-size: 30px;
  filter: blur(0.38px);
  animation: 37s float infinite;
}
.particle:nth-child(20) {
  top: 14.6163215591%;
  left: 64.6425073457%;
  font-size: 21px;
  filter: blur(0.4px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(21) {
  top: 8.7378640777%;
  left: 34.1796875%;
  font-size: 24px;
  filter: blur(0.42px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(22) {
  top: 85.1897184823%;
  left: 89.4788593904%;
  font-size: 17px;
  filter: blur(0.44px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(23) {
  top: 91.5956151035%;
  left: 0.9794319295%;
  font-size: 21px;
  filter: blur(0.46px);
  animation: 26s float infinite;
}
.particle:nth-child(24) {
  top: 60.7961399276%;
  left: 2.915451895%;
  font-size: 29px;
  filter: blur(0.48px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(25) {
  top: 37.1184371184%;
  left: 86.3591756624%;
  font-size: 19px;
  filter: blur(0.5px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(26) {
  top: 60.9431680774%;
  left: 13.6319376826%;
  font-size: 27px;
  filter: blur(0.52px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(27) {
  top: 19.3236714976%;
  left: 90.46692607%;
  font-size: 28px;
  filter: blur(0.54px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(28) {
  top: 95.6843403206%;
  left: 37.5865479723%;
  font-size: 11px;
  filter: blur(0.56px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(29) {
  top: 51.2946979038%;
  left: 80.118694362%;
  font-size: 11px;
  filter: blur(0.58px);
  animation: 36s float infinite;
}
.particle:nth-child(30) {
  top: 91.4004914005%;
  left: 25.641025641%;
  font-size: 14px;
  filter: blur(0.6px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(31) {
  top: 27.417380661%;
  left: 94.395280236%;
  font-size: 17px;
  filter: blur(0.62px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(32) {
  top: 81.0615199035%;
  left: 96.2099125364%;
  font-size: 29px;
  filter: blur(0.64px);
  animation: 30s float2 infinite;
}
.particle:nth-child(33) {
  top: 75.1807228916%;
  left: 64.0776699029%;
  font-size: 30px;
  filter: blur(0.66px);
  animation: 22s floatReverse2 infinite;
}
.particle:nth-child(34) {
  top: 85.8199753391%;
  left: 82.096933729%;
  font-size: 11px;
  filter: blur(0.68px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(35) {
  top: 3.9312039312%;
  left: 44.3786982249%;
  font-size: 14px;
  filter: blur(0.7px);
  animation: 35s float2 infinite;
}
.particle:nth-child(36) {
  top: 1.9370460048%;
  left: 84.7953216374%;
  font-size: 26px;
  filter: blur(0.72px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 12.6674786845%;
  left: 43.0950048972%;
  font-size: 21px;
  filter: blur(0.74px);
  animation: 35s float2 infinite;
}
.particle:nth-child(38) {
  top: 45.6310679612%;
  left: 94.7265625%;
  font-size: 24px;
  filter: blur(0.76px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 28.3618581907%;
  left: 85.4616895874%;
  font-size: 18px;
  filter: blur(0.78px);
  animation: 34s float2 infinite;
}
.particle:nth-child(40) {
  top: 1.9277108434%;
  left: 28.1553398058%;
  font-size: 30px;
  filter: blur(0.8px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(41) {
  top: 68.7116564417%;
  left: 26.6009852217%;
  font-size: 15px;
  filter: blur(0.82px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(42) {
  top: 69.6932515337%;
  left: 38.4236453202%;
  font-size: 15px;
  filter: blur(0.84px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(43) {
  top: 90.4009720535%;
  left: 0.9775171065%;
  font-size: 23px;
  filter: blur(0.86px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(44) {
  top: 86.6180048662%;
  left: 3.9138943249%;
  font-size: 22px;
  filter: blur(0.88px);
  animation: 38s float infinite;
}
.particle:nth-child(45) {
  top: 86.2745098039%;
  left: 0.9842519685%;
  font-size: 16px;
  filter: blur(0.9px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(46) {
  top: 3.9408866995%;
  left: 83.0039525692%;
  font-size: 12px;
  filter: blur(0.92px);
  animation: 27s float2 infinite;
}
.particle:nth-child(47) {
  top: 55.6776556777%;
  left: 68.6947988224%;
  font-size: 19px;
  filter: blur(0.94px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(48) {
  top: 36.6265060241%;
  left: 40.7766990291%;
  font-size: 30px;
  filter: blur(0.96px);
  animation: 36s float infinite;
}
.particle:nth-child(49) {
  top: 83.192261185%;
  left: 53.5540408958%;
  font-size: 27px;
  filter: blur(0.98px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(50) {
  top: 85.8866103739%;
  left: 94.2662779397%;
  font-size: 29px;
  filter: blur(1px);
  animation: 38s float2 infinite;
}
.particle:nth-child(51) {
  top: 52.281134402%;
  left: 34.6191889219%;
  font-size: 11px;
  filter: blur(1.02px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(52) {
  top: 42.9268292683%;
  left: 40.1960784314%;
  font-size: 20px;
  filter: blur(1.04px);
  animation: 29s float2 infinite;
}
.particle:nth-child(53) {
  top: 56.3106796117%;
  left: 84.9609375%;
  font-size: 24px;
  filter: blur(1.06px);
  animation: 26s float infinite;
}
.particle:nth-child(54) {
  top: 83.192261185%;
  left: 11.6845180136%;
  font-size: 27px;
  filter: blur(1.08px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(55) {
  top: 26.3736263736%;
  left: 76.5456329735%;
  font-size: 19px;
  filter: blur(1.1px);
  animation: 27s float2 infinite;
}
.particle:nth-child(56) {
  top: 63.6474908201%;
  left: 52.1140609636%;
  font-size: 17px;
  filter: blur(1.12px);
  animation: 34s float2 infinite;
}
.particle:nth-child(57) {
  top: 20.5882352941%;
  left: 70.8661417323%;
  font-size: 16px;
  filter: blur(1.14px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(58) {
  top: 57.0725707257%;
  left: 53.3070088845%;
  font-size: 13px;
  filter: blur(1.16px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(59) {
  top: 97.5609756098%;
  left: 77.4509803922%;
  font-size: 20px;
  filter: blur(1.18px);
  animation: 36s float infinite;
}
.particle:nth-child(60) {
  top: 30.2808302808%;
  left: 94.2100098135%;
  font-size: 19px;
  filter: blur(1.2px);
  animation: 34s float2 infinite;
}
.particle:nth-child(61) {
  top: 40.1960784314%;
  left: 22.6377952756%;
  font-size: 16px;
  filter: blur(1.22px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(62) {
  top: 34.1463414634%;
  left: 29.4117647059%;
  font-size: 20px;
  filter: blur(1.24px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(63) {
  top: 5.8536585366%;
  left: 62.7450980392%;
  font-size: 20px;
  filter: blur(1.26px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(64) {
  top: 33.8573155985%;
  left: 58.4225900682%;
  font-size: 27px;
  filter: blur(1.28px);
  animation: 38s float2 infinite;
}
.particle:nth-child(65) {
  top: 85.7142857143%;
  left: 28.6561264822%;
  font-size: 12px;
  filter: blur(1.3px);
  animation: 22s float infinite;
}
.particle:nth-child(66) {
  top: 76.1904761905%;
  left: 80.4710500491%;
  font-size: 19px;
  filter: blur(1.32px);
  animation: 23s float2 infinite;
}
.particle:nth-child(67) {
  top: 25.4901960784%;
  left: 56.1023622047%;
  font-size: 16px;
  filter: blur(1.34px);
  animation: 33s float2 infinite;
}
.particle:nth-child(68) {
  top: 17.4757281553%;
  left: 82.03125%;
  font-size: 24px;
  filter: blur(1.36px);
  animation: 24s float2 infinite;
}
.particle:nth-child(69) {
  top: 29.1262135922%;
  left: 77.1484375%;
  font-size: 24px;
  filter: blur(1.38px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(70) {
  top: 77.2014475271%;
  left: 90.3790087464%;
  font-size: 29px;
  filter: blur(1.4px);
  animation: 24s float2 infinite;
}
.particle:nth-child(71) {
  top: 89.6551724138%;
  left: 48.418972332%;
  font-size: 12px;
  filter: blur(1.42px);
  animation: 28s float infinite;
}
.particle:nth-child(72) {
  top: 12.6520681265%;
  left: 14.6771037182%;
  font-size: 22px;
  filter: blur(1.44px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(73) {
  top: 38.7409200969%;
  left: 18.5185185185%;
  font-size: 26px;
  filter: blur(1.46px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(74) {
  top: 91.8984280532%;
  left: 92.5024342746%;
  font-size: 27px;
  filter: blur(1.48px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(75) {
  top: 67.3170731707%;
  left: 76.4705882353%;
  font-size: 20px;
  filter: blur(1.5px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(76) {
  top: 41.4457831325%;
  left: 14.5631067961%;
  font-size: 30px;
  filter: blur(1.52px);
  animation: 24s float infinite;
}
.particle:nth-child(77) {
  top: 8.8560885609%;
  left: 38.4995064166%;
  font-size: 13px;
  filter: blur(1.54px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 30.9552599758%;
  left: 95.423563778%;
  font-size: 27px;
  filter: blur(1.56px);
  animation: 34s float infinite;
}
.particle:nth-child(79) {
  top: 53.0120481928%;
  left: 86.4077669903%;
  font-size: 30px;
  filter: blur(1.58px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(80) {
  top: 11.5942028986%;
  left: 2.9182879377%;
  font-size: 28px;
  filter: blur(1.6px);
  animation: 21s floatReverse infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}/*# sourceMappingURL=404.css.map */