body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 8.8343558282%;
  left: 60.0985221675%;
  font-size: 15px;
  filter: blur(0.02px);
  animation: 28s float2 infinite;
}
.particle:nth-child(2) {
  top: 33.8983050847%;
  left: 72.1247563353%;
  font-size: 26px;
  filter: blur(0.04px);
  animation: 31s float infinite;
}
.particle:nth-child(3) {
  top: 15.6670746634%;
  left: 57.0304818092%;
  font-size: 17px;
  filter: blur(0.06px);
  animation: 40s float2 infinite;
}
.particle:nth-child(4) {
  top: 22.5766871166%;
  left: 48.275862069%;
  font-size: 15px;
  filter: blur(0.08px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(5) {
  top: 62.8778718259%;
  left: 8.7633885102%;
  font-size: 27px;
  filter: blur(0.1px);
  animation: 29s float2 infinite;
}
.particle:nth-child(6) {
  top: 32.4324324324%;
  left: 56.2130177515%;
  font-size: 14px;
  filter: blur(0.12px);
  animation: 24s float2 infinite;
}
.particle:nth-child(7) {
  top: 83.0917874396%;
  left: 5.8365758755%;
  font-size: 28px;
  filter: blur(0.14px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(8) {
  top: 55.9036144578%;
  left: 25.2427184466%;
  font-size: 30px;
  filter: blur(0.16px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(9) {
  top: 8.8779284834%;
  left: 47.4777448071%;
  font-size: 11px;
  filter: blur(0.18px);
  animation: 39s float2 infinite;
}
.particle:nth-child(10) {
  top: 12.5907990315%;
  left: 17.5438596491%;
  font-size: 26px;
  filter: blur(0.2px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(11) {
  top: 41.696969697%;
  left: 16.5853658537%;
  font-size: 25px;
  filter: blur(0.22px);
  animation: 32s float2 infinite;
}
.particle:nth-child(12) {
  top: 6.8209500609%;
  left: 89.1283055828%;
  font-size: 21px;
  filter: blur(0.24px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(13) {
  top: 81.8742293465%;
  left: 81.1078140455%;
  font-size: 11px;
  filter: blur(0.26px);
  animation: 32s float2 infinite;
}
.particle:nth-child(14) {
  top: 29.197080292%;
  left: 84.1487279843%;
  font-size: 22px;
  filter: blur(0.28px);
  animation: 30s float infinite;
}
.particle:nth-child(15) {
  top: 89.4348894349%;
  left: 18.7376725838%;
  font-size: 14px;
  filter: blur(0.3px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(16) {
  top: 29.9155609168%;
  left: 64.139941691%;
  font-size: 29px;
  filter: blur(0.32px);
  animation: 24s float2 infinite;
}
.particle:nth-child(17) {
  top: 46.3768115942%;
  left: 86.5758754864%;
  font-size: 28px;
  filter: blur(0.34px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(18) {
  top: 90.6024096386%;
  left: 89.3203883495%;
  font-size: 30px;
  filter: blur(0.36px);
  animation: 23s float infinite;
}
.particle:nth-child(19) {
  top: 32.9696969697%;
  left: 44.8780487805%;
  font-size: 25px;
  filter: blur(0.38px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(20) {
  top: 35.2941176471%;
  left: 58.0708661417%;
  font-size: 16px;
  filter: blur(0.4px);
  animation: 24s float2 infinite;
}
.particle:nth-child(21) {
  top: 79.9025578563%;
  left: 65.6219392752%;
  font-size: 21px;
  filter: blur(0.42px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(22) {
  top: 91.0411622276%;
  left: 3.8986354776%;
  font-size: 26px;
  filter: blur(0.44px);
  animation: 30s float2 infinite;
}
.particle:nth-child(23) {
  top: 9.6385542169%;
  left: 74.7572815534%;
  font-size: 30px;
  filter: blur(0.46px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 90.6211936663%;
  left: 20.5680705191%;
  font-size: 21px;
  filter: blur(0.48px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(25) {
  top: 80.387409201%;
  left: 94.5419103314%;
  font-size: 26px;
  filter: blur(0.5px);
  animation: 30s float infinite;
}
.particle:nth-child(26) {
  top: 84.8335388409%;
  left: 4.9455984174%;
  font-size: 11px;
  filter: blur(0.52px);
  animation: 24s float infinite;
}
.particle:nth-child(27) {
  top: 14.742014742%;
  left: 63.1163708087%;
  font-size: 14px;
  filter: blur(0.54px);
  animation: 27s float infinite;
}
.particle:nth-child(28) {
  top: 51.2946979038%;
  left: 28.684470821%;
  font-size: 11px;
  filter: blur(0.56px);
  animation: 32s float2 infinite;
}
.particle:nth-child(29) {
  top: 22.2760290557%;
  left: 45.8089668616%;
  font-size: 26px;
  filter: blur(0.58px);
  animation: 27s float infinite;
}
.particle:nth-child(30) {
  top: 4.8721071864%;
  left: 27.4240940255%;
  font-size: 21px;
  filter: blur(0.6px);
  animation: 34s float infinite;
}
.particle:nth-child(31) {
  top: 45.8536585366%;
  left: 74.5098039216%;
  font-size: 20px;
  filter: blur(0.62px);
  animation: 26s float2 infinite;
}
.particle:nth-child(32) {
  top: 0.981595092%;
  left: 52.2167487685%;
  font-size: 15px;
  filter: blur(0.64px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(33) {
  top: 71.3064713065%;
  left: 45.142296369%;
  font-size: 19px;
  filter: blur(0.66px);
  animation: 29s float infinite;
}
.particle:nth-child(34) {
  top: 93.6585365854%;
  left: 39.2156862745%;
  font-size: 20px;
  filter: blur(0.68px);
  animation: 39s float2 infinite;
}
.particle:nth-child(35) {
  top: 53.9877300613%;
  left: 63.0541871921%;
  font-size: 15px;
  filter: blur(0.7px);
  animation: 40s float2 infinite;
}
.particle:nth-child(36) {
  top: 54.041013269%;
  left: 83.5762876579%;
  font-size: 29px;
  filter: blur(0.72px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(37) {
  top: 29.0556900726%;
  left: 75.0487329435%;
  font-size: 26px;
  filter: blur(0.74px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(38) {
  top: 40.9257003654%;
  left: 46.0333006856%;
  font-size: 21px;
  filter: blur(0.76px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(39) {
  top: 19.6078431373%;
  left: 43.3070866142%;
  font-size: 16px;
  filter: blur(0.78px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(40) {
  top: 77.5757575758%;
  left: 76.0975609756%;
  font-size: 25px;
  filter: blur(0.8px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(41) {
  top: 25.1207729469%;
  left: 59.3385214008%;
  font-size: 28px;
  filter: blur(0.82px);
  animation: 22s float2 infinite;
}
.particle:nth-child(42) {
  top: 15.7055214724%;
  left: 77.8325123153%;
  font-size: 15px;
  filter: blur(0.84px);
  animation: 21s float infinite;
}
.particle:nth-child(43) {
  top: 67.6470588235%;
  left: 52.1653543307%;
  font-size: 16px;
  filter: blur(0.86px);
  animation: 23s float infinite;
}
.particle:nth-child(44) {
  top: 46.8292682927%;
  left: 76.4705882353%;
  font-size: 20px;
  filter: blur(0.88px);
  animation: 37s float2 infinite;
}
.particle:nth-child(45) {
  top: 37.3464373464%;
  left: 71.9921104536%;
  font-size: 14px;
  filter: blur(0.9px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(46) {
  top: 38.6007237636%;
  left: 65.1117589893%;
  font-size: 29px;
  filter: blur(0.92px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(47) {
  top: 96.5018094089%;
  left: 80.6608357629%;
  font-size: 29px;
  filter: blur(0.94px);
  animation: 24s float2 infinite;
}
.particle:nth-child(48) {
  top: 17.4757281553%;
  left: 64.453125%;
  font-size: 24px;
  filter: blur(0.96px);
  animation: 22s float2 infinite;
}
.particle:nth-child(49) {
  top: 48.8997555012%;
  left: 30.4518664047%;
  font-size: 18px;
  filter: blur(0.98px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(50) {
  top: 71.8446601942%;
  left: 86.9140625%;
  font-size: 24px;
  filter: blur(1px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(51) {
  top: 79.4117647059%;
  left: 34.4488188976%;
  font-size: 16px;
  filter: blur(1.02px);
  animation: 32s float2 infinite;
}
.particle:nth-child(52) {
  top: 57.0048309179%;
  left: 5.8365758755%;
  font-size: 28px;
  filter: blur(1.04px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(53) {
  top: 32.9297820823%;
  left: 57.5048732943%;
  font-size: 26px;
  filter: blur(1.06px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(54) {
  top: 55.5420219245%;
  left: 72.4779627816%;
  font-size: 21px;
  filter: blur(1.08px);
  animation: 25s float2 infinite;
}
.particle:nth-child(55) {
  top: 74.8768472906%;
  left: 35.5731225296%;
  font-size: 12px;
  filter: blur(1.1px);
  animation: 32s float2 infinite;
}
.particle:nth-child(56) {
  top: 59.512195122%;
  left: 69.6078431373%;
  font-size: 20px;
  filter: blur(1.12px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(57) {
  top: 9.7205346294%;
  left: 52.7859237537%;
  font-size: 23px;
  filter: blur(1.14px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(58) {
  top: 34.9090909091%;
  left: 10.7317073171%;
  font-size: 25px;
  filter: blur(1.16px);
  animation: 32s float2 infinite;
}
.particle:nth-child(59) {
  top: 4.9079754601%;
  left: 17.7339901478%;
  font-size: 15px;
  filter: blur(1.18px);
  animation: 23s float2 infinite;
}
.particle:nth-child(60) {
  top: 21.3851761847%;
  left: 19.550342131%;
  font-size: 23px;
  filter: blur(1.2px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(61) {
  top: 11.8226600985%;
  left: 30.6324110672%;
  font-size: 12px;
  filter: blur(1.22px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(62) {
  top: 15.7248157248%;
  left: 70.0197238659%;
  font-size: 14px;
  filter: blur(1.24px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(63) {
  top: 80.0976800977%;
  left: 37.2914622179%;
  font-size: 19px;
  filter: blur(1.26px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(64) {
  top: 13.6919315403%;
  left: 21.6110019646%;
  font-size: 18px;
  filter: blur(1.28px);
  animation: 24s float infinite;
}
.particle:nth-child(65) {
  top: 50.1204819277%;
  left: 82.5242718447%;
  font-size: 30px;
  filter: blur(1.3px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(66) {
  top: 45.8536585366%;
  left: 84.3137254902%;
  font-size: 20px;
  filter: blur(1.32px);
  animation: 21s float2 infinite;
}
.particle:nth-child(67) {
  top: 22.6880394575%;
  left: 45.4995054402%;
  font-size: 11px;
  filter: blur(1.34px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(68) {
  top: 53.1365313653%;
  left: 84.8963474827%;
  font-size: 13px;
  filter: blur(1.36px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(69) {
  top: 75.0304506699%;
  left: 9.7943192948%;
  font-size: 21px;
  filter: blur(1.38px);
  animation: 27s float2 infinite;
}
.particle:nth-child(70) {
  top: 96.0784313725%;
  left: 9.842519685%;
  font-size: 16px;
  filter: blur(1.4px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(71) {
  top: 6.7469879518%;
  left: 95.145631068%;
  font-size: 30px;
  filter: blur(1.42px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(72) {
  top: 12.5755743652%;
  left: 51.6066212269%;
  font-size: 27px;
  filter: blur(1.44px);
  animation: 30s float2 infinite;
}
.particle:nth-child(73) {
  top: 3.9312039312%;
  left: 31.5581854043%;
  font-size: 14px;
  filter: blur(1.46px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(74) {
  top: 34.9090909091%;
  left: 57.5609756098%;
  font-size: 25px;
  filter: blur(1.48px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(75) {
  top: 2.9411764706%;
  left: 5.905511811%;
  font-size: 16px;
  filter: blur(1.5px);
  animation: 40s float infinite;
}
.particle:nth-child(76) {
  top: 42.87454324%;
  left: 72.4779627816%;
  font-size: 21px;
  filter: blur(1.52px);
  animation: 35s float infinite;
}
.particle:nth-child(77) {
  top: 50.4242424242%;
  left: 6.8292682927%;
  font-size: 25px;
  filter: blur(1.54px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 56.2424242424%;
  left: 92.6829268293%;
  font-size: 25px;
  filter: blur(1.56px);
  animation: 34s float2 infinite;
}
.particle:nth-child(79) {
  top: 84.9816849817%;
  left: 17.66437684%;
  font-size: 19px;
  filter: blur(1.58px);
  animation: 30s float2 infinite;
}
.particle:nth-child(80) {
  top: 58.4652862363%;
  left: 93.0460333007%;
  font-size: 21px;
  filter: blur(1.6px);
  animation: 23s float2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}/*# sourceMappingURL=404.css.map */