.form-group {
    display: flex;
    flex-direction: column;
    .date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
        margin: 0 1em;
    }
}

@media screen and (max-width: 768px) {
    .form-group {
        width: 40%;
        .date {
            width: 100%;
        }
    }
}