.form-group {
    display: flex;
    flex-direction: column;
    .expiredate {
        flex-direction: column;
        margin: 1em 0;
        .date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 55%;
        }
    }
}

@media screen and (max-width: 768px) {
    .form-group {
        width: 40%;
        .date {
            width: 100%;
        }
    }
}